<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <title><%= shopName %></title>
  </head>
  <body>
    <h1>About <%= shopName %></h1>
    <p>We sell all sorts of drinks to suit every taste.</p>

    <h2>Our Shop Locations</h2>
    <ul>
      <% shops.forEach(function(shop) { %>
        <li>
          <strong><%= shop.name %></strong><br>
          Manager: <%= shop.manager %><br>
          Address: <%= shop.address %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
